/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./media/fotofondo.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  color: white; /* Texto claro para contraste */
}

/* Ajustes para secciones */
.section-light {
  background-color: rgba(255, 255, 255, 0.8);
}

.section-dark {
  background-color: rgba(0, 0, 0, 0.6);
}